@font-face {
	font-family: "BrutalMedium";
	src: url(../fonts/BrutalMedium/BrutalType-Medium.woff);
}
@font-face {
	font-family: "BrutalLight";
	src: url(../fonts/BrutalMedium/BrutalType-Light.woff);
}